<div class="container">
  <h1>Attracties</h1>
  <div class="row">
    <div *ngFor="let item of items" class="col-12 col-md-6 col-lg-4">
      <div class="attractie">
        <div class="attractie-img">
          <img src="/assets/images/Reuzenrad.png" alt="reuzenrad">
        </div>
        <h3>Reuzenrad</h3>
        <p>Dit is een reuzenrad!</p>
        <i>Gemaakt door Thom Kok</i>
        <div class="read-more">
          <a href="/attractie/1">Lees meer</a>
        </div>
      </div>
    </div>
  </div>
</div>
