<h1>Attracties</h1>
<div class="row">
  <div *ngFor="let attraction of attractions" class="col-12 col-md-6 col-lg-4">
    <div class="attractie">
      <div class="attractie-img">
        <img src="{{'assets/images/' + attraction.image}}" alt="{{attraction.alt}}">
      </div>
      <h3>{{attraction.name}}</h3>
      <p>{{attraction.description}}</p>
      <i>Gemaakt door {{attraction.madeBy}}</i>
      <div class="read-more">
        <a href="/attractie/1">Lees meer</a>
      </div>
    </div>
  </div>
</div>
